<div  style="margin:5%;background-color:black;border:3px solid black;">
    
    <%= link_to "login", profiles_edit_path,{ :style=>"width:100%; padding:10px;margin-bottom:3px;",:class => "btn btn-success "} %>
    <%=  link_to "signup",new_profile_path,{  :style=>"width:100%;padding:10px;",:class => "btn btn-success "}%>
</div>